@charset "UTF-8";

.rating {
font-size: 0 ;
display: inline-block ;
}
.rating a {
text-decoration: none ;
display: inline-block ;
font-size: 32px ;
font-size: 2rem ;
color: #888 ;
}
.rating:hover a {
color: gold ;

}
.rating > a:hover ~ a {
color: #888 ;
}